img{
    width: 50%;
    margin: 0 auto;
    display: block;
}
.images{
    width: 35%;
}

p {
    width: 50%;
}
h1{
    color: rgb(2, 18, 255);
}
.name{
    color: #ff0000;
}
.data{
    color: #05fe01;
}
.tudo{
   color: hsl(33, 91%, 50%);
}
.dani{
    color: #f402d4;
}