
.menu{
    min-width: 320px;
    color: #fff;
    background-color: #132f5c;
    height:100px;
}
.menu h1{
    text-align: center;
}
body{
    font-size:20px;
}
img{
    width: 40%;
    margin: 0 auto;
    display: block;
}
.images{
    width: 35%;
    height: 750px;
}

p {
    width: 50%;
}
.name{
    color: #ff0000;
}
.data{
    color: #05fe01;
}
.tudo{
   color: hsl(33, 91%, 50%);
}
.dani{
    color: #f402d4;
}